<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tokenisation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css"/>
</head>
<body ng-app="app">

<div ng-controller="authorisationCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1>Tokenisation</h1>
                <hr/>

                <div>
                    <label for="username">username</label>
                    <br/>
                    <input id="username"  ng-model="username"type="text"/>
                    <br/>
                    <br/>
                </div>

                <div>
                    <label for="password" >password</label>
                    <br/>
                    <input id="password" type="text" ng-model="password">
                    <br/>
                </div>
                <br/>
                <button type="button" class="btn btn-primary" ng-click="authorise()">Sign in</button>
                <br/>
                <div ng-show="showBoolean">
                    The token is <span ng-bind="token"></span>
                    <br/>
                    The token is {{token}}
                </div>
                <div ng-show="initalise">
                    Invalid login credentials
                    <br/>
                </div>


            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>